---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Documents and Downloads">
  <section>
    <h1>Documents and Downloads</h1>
    <p>You will find my CV, my generic cover letter and my thesis here.</p>
  </section>

  <section>
    <h2>CV and Cover Letter</h2>
    <div class="">
      <p><a href="./downloads/cv.pdf">Download CV</a></p>
    </div>
    <div class="">
      <p><a href="./downloads/coverLetter.pdf">Download Cover Letter</a></p>
    </div>
  </section>

  <section>
    <h2>Thesis</h2>
      <p>My thesis, published in 2009, was about the use of the internet as a tool for database management</p>
      <div class="">
        <p><a href="./downloads/thesis.pdf">Download Thesis</a></p>
      </div>
  </section>
</Layout>