---
import "../global.css";

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to My Web Portfolio.">
	<h1> Welcome to my Web Portfolio </h1>
	<ul class="flex flex-col md:flex-row md:flex-wrap md:grid md:grid-cols-2 gap-2">
		<Card
				body="This is a test body"
				href="https://astro.build"
				title="Astro"
			/>
		<Card
			body="This is a test body"
			href="https://astro.build"
			title="Astro"
			/>
		<Card
			body="This is a test body"
			href="https://astro.build"
			title="Astro"
			/>
		<Card
			body="This is a test body"
			href="https://astro.build"
			title="Astro"
			/>
	</ul>
</Layout>