---
import "../global.css";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Techology Used">
  <header>
    <h1>Technology</h1>
    <p>Here are some of the technologies that I have used in my projects:</p>
  </header>

  <section>
    <h2>Frontend</h2>
    <ul>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
    </ul>
  </section>

  <section>
    <h2>Backend</h2>
    <ul>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
    </ul>
  </section>

  <section>
    <h2>CMS</h2>
    <ul>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
    </ul>
  </section>

  <section>
    <h2>Other</h2>
    <ul>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
      <li><a href="www.google.com">example</a></li>
    </ul>
  </section>

</Layout>