---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Techology Used">
  <h1>Technology</h1>

  <p>Here are some of the technologies that I have used in my projects:</p>

  <h2>Frontend</h2>
  <h2>Backend</h2>
  <h2>CMS</h2>
  <h2>Other</h2>
</Layout>