.accordion-section{
  cursor: pointer;
}
.accordion-title{
  font-size: 1.25rem/* 20px */;
  line-height: 1.75rem/* 28px */
}
.accordion-list:not(.open) {
  height: 0;
  max-height: 0;
  overflow: hidden;
}

.accordion-list.open{
  max-height:500px;
}

.accordion-list{
  padding-left: 0.25rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}